{% extends "auctions/layout.html" %}

{% block title %}{{ entry.name }}{% endblock %}

{% block body %}
{% if user.is_authenticated and user == entry.owner and entry.is_active == False %}
    <h1>Congratulations! You've won the auction!</h1>
{% endif %}
    <h2>Listing: {{ entry.name }}</h2>
    <div class="mx-3">
        {% if user.is_authenticated %}
            {% if is_in_watchlist %}
            <form action="{% url 'watchlist_remove' entry.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-sm">Remove from Watchlist</button>
            </form>
            {% else %}
            <form action="{% url 'watchlist_add' entry.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-sm">Add to Watchlist</button>
            </form>
            {% endif %}
        {% endif %}
    </div>
    <img src="{{ entry.imgurl }}" style="width: 400px; height: auto;">
    <p>{{ entry.description }}</p>
    <h2>{{ entry.price }} €</h2>
    {% if entry.price.user == entry.owner %}
        <span>{{ entry.price.bid }}€ starting bid price listed by {{ entry.price.user }}</span>
    
    {% else %}
        <span>{{ entry.price.bid }}€ bid placed by {{ entry.price.user }}</span>
    {% endif %}
    {% if user.is_authenticated and user != entry.owner and entry.is_active %}
        <form action="{% url 'new_bid' entry.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="number" min="0" name="bid" placeholder="Bid">
                <p>Bid must be inserted in integers without spaces or other characters. (Insert "1234500" instead of "1.234.500,00")
                </p>
            </div>
            <input class="btn btn-primary" type="submit" value="Place Bid">
        </form>
    {% endif %}
    {% if user.is_authenticated and user == entry.owner and entry.is_active %}
        <form action="{% url 'close_bid' entry.id %}" method="POST">
            {% csrf_token %}
            <input class="form-control" type="hidden" name="close_bid" value="close">
            <input class="btn btn-primary" type="submit" value="Close Auction">
        </form>
    {% endif %}
        <br>
    <h3>Details:</h3>
    <ul>
        <li>Listed by: <a href="{% url 'user_adds' entry.owner %}">{{entry.owner }}</a></li>
        <li>Category: <a href="{% url 'display_cat' entry.category %}">{{entry.category }}</a></li>
    </ul>
    <h2>Comments</h2>
    <div class="form-group">
        {% if user.is_authenticated %}
            <form action="{% url 'comment' %}" method="POST">
                {% csrf_token %}
                <label>Add a Comment:</label>
                <input type="hidden" name="id" value="{{ entry.id }}">
                <p><textarea type="text" class="form-control" rows="5" name="comment" placeholder="Type your comment here"></textarea></p>
                <input class="btn btn-primary" type="submit" value="Submit">
        {% endif %}
    </div>
    <ul class="list-group list-group-flush">
        {% for comment in comments %}
            <li class="list-group-item"><a href="{% url 'user_adds' comment.author %}">{{ comment.author }}:</a><br>{{ comment.message }}</li>
        {% empty %}
            <li class="list-group-item">No comments.</li>
        {% endfor %}
      </ul>
    <ul>
{% endblock %}