{% extends "auctions/layout.html" %}

{% block title %}{{ listing.owner }}{% endblock %}

{% block body %}
    <h2>Listings by: {{ listing.owner }}</h2>
    {% for listing in listings %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <a href="{% url 'entry' listing.name %}"><img src="{{ listing.imgurl }}" class="img-fluid rounded-start" alt="{{ listing.name }}"></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title"><a href="{% url 'entry' listing.name %}">{{ listing.name }}</a></h5>
                <p class="card-text">Price: {{ listing.price }}€</p>
                <p class="card-text"><small class="text-muted">{{ listing.description }}</small></p>
                </div>
            </div>
            </div>
        </div>
            
    {% empty %}
    <h3>No listings.</h3>
    {% endfor %}
    
{% endblock %}