{% extends "network/layout.html" %}

{% block body %}
    <div class="d-flex align-items-center">
        <h2>{{ user_profile.username }}</h2>
        
        {% if user.is_authenticated and user.username != user_profile.username %}
            {% if is_following %}
            <form action="{% url 'unfollow' user_profile.username %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-sm ms-3" type="submit">Unfollow</button>
            </form>
            {% else %}
            <form action="{% url 'follow' user_profile.username %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-sm ms-3">Follow</button>
            </form>
            {% endif %}
        {% endif %}     
    </div>
    <p><span class="text-muted">Followers: </span><b>{{ f }}</b><p>
    <p><span class="text-muted">Following: </span><b>{{ fw }}</b><p>
    <h2>All posts:</h2><span>
        <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ post.author.username }}</h5>
                <p class="mb-1">{{ post.content }}
                {% if user.username == post.author.username %}
                    <a href="#" class="link-primary text-decoration-none ms-2" id="edit">Edit</a>
                {% endif %}
                </p><small class="text-muted">{{ post.date }}</small>
                <p class="mb-1 text-muted">{{ post.likes }} likes</p>
        {% endfor %}
        </ul>

        {% endblock %}