{% extends "network/layout.html" %}

{% block body %}
    <div class="d-flex align-items-center">
        <h2>{{ user_profile.username }}</h2>
        
        {% if user.is_authenticated and user.username != user_profile.username %}
            {% if is_following %}
            <form action="{% url 'unfollow' user_profile.username %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-sm ms-3" type="submit">Unfollow</button>
            </form>
            {% else %}
            <form action="{% url 'follow' user_profile.username %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-sm ms-3">Follow</button>
            </form>
            {% endif %}
        {% endif %}     
    </div>
    <p><span class="text-muted">Followers: </span><b>{{ f }}</b><p>
    <p><span class="text-muted">Following: </span><b>{{ fw }}</b><p>
    <h2>All posts:</h2><span>
        <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item list-group-item-action" id="p{{ post.id }}">
                <h5 class="mb-1">{{ post.author.username }}</h5>
                {% if user.username == post.author.username %}
                    <button class="btn btn-secondary btn-sm edit-button">Edit</button>
                {% endif %}
                <p class="mb-1">{{ post.content }}</p>
                <textarea autocomplete="off" class="form-control edit-post-content" type="text" rows="3">{{ post.content }}</textarea>
                {% csrf_token %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="text-left">
                    <button class="btn btn-primary w-auto mx-auto mb-1 edit-post-btn">Save</button>
                </div>
                </p><small class="text-muted">{{ post.date }}</small>
                <p class="mb-1 text-muted">{{ post.likes }} likes</p>
        {% endfor %}
        </ul>

        {% endblock %}